/* Global styles */
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    color: black;
    background-color: #000000;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #444;
    background-color: #000000;
  }
  
  nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ffcc6d;
  }
  
  main {
    padding: 2rem;
    background-color: #000000;
  }
  
  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  
  .section h1 {
    font-size: 5rem;
    color: #ffcc6d;
  }
  
  .section p {
    font-size: 1.5rem;
    color: white;
    line-height: 1.5;
    max-width: 400px;
  }
  
  .section img {
    max-width: 250px;
    height: auto;
    object-fit: cover;
    mix-blend-mode: hard-light;
  }
  
  .what-we-do {
    position: relative;
    color: white;
    padding: 4rem 2rem;
    background: url("https://github.com/busepol/dartweb/blob/main/stage.png?raw=true") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: auto;
  }
  
  .what-we-do .content {
    flex: 1; /* Left-side list takes equal space */
    text-align: left;
  }
  
  .what-we-do h1 {
    font-size: 4rem;
    color: #ffcc6d;
    text-align: right;
    flex: 1;
  }
  
  .what-we-do ul {
    list-style-type: disc;
    text-align: left;
    padding: 0;
  }
  
  .what-we-do li {
    font-size: 1.2rem;
    text-align: left;
    margin: 0.5rem 0;
  }
  
  footer {
    background-color: #000000;
    color: #bbb;
    text-align: center;
    padding: 1rem 0;
  }
  
  .social-links img {
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .social-links img:hover {
    opacity: 0.8;
  }
  